@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/5f324140f01f8d6788626d514b70b9cd?family=Casanova+Scotia);

h2,
h3 {
  font-family: "Casanova Scotia";
}

main {
  flex: 1;
  /* height: 100%; */
}
html,
body {
  height: 100%; /* ensures the body takes the full height of the viewport */
  margin: 0; /* remove default margin */
}
body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
